@media (max-width: 1199px){
	.paper-all .paper-detail .pd-thump,
	.paper-all .paper-detail .pd-thump a{
		width: 485px;
		height: 485px;
	}
	.paper-all .paper-detail .paper-list ul li .pl-detail,
	.paper-all .paper-detail .paper-list ul li .pl-detail a{
		width: 242.5px;
		height: 242.5px;
	}
}
@media (max-width: 991px){ 
	.header-nav .hn-nav {
	    float: left;
	    width: 100%;
	}
	.hn-nav .navbar .navbar-collapse ul.navbar-nav li a{
		font-size: 10px;
	}
	.header-slide .slide-detail .sd-text{
		margin-top: 38px;
	}
	#bd-1.box-detail {
    top: 0;
    left: 0px;
	}
	#bd-2.box-detail {
	    right: -100px;
	    top: 0;
	}
	#bd-3.box-detail {
	    top: 170px;
	    left: -55px;
	}
	#bd-4.box-detail {
	    right: -70px;
	    top: 170px;
	}
	#bd-5.box-detail {
	    top: 340px;
	    left: 0;
	}
	#bd-6.box-detail {
	    right: -39px;
	    top: 340px;
	}
	.box-prize {
	    margin-bottom: 30px;
	}
	/*.step-all .step-detail {
	    margin-bottom: 20px;
	}*/
	.news-all .news-detail {
	    margin-bottom: 40px;
	}
	.event-all .event-detail .ed-img {
	    width: 30%;
	    margin-bottom: 20px;
	}
	.paper-all .paper-detail .pd-thump,
	.paper-all .paper-detail .pd-thump a{
		width: 720px;
		height: 720px;
	}
	.paper-all .paper-detail .paper-list ul li .pl-detail,
	.paper-all .paper-detail .paper-list ul li .pl-detail a{
		width: 360px;
		height: 360px;
	}
	.game-all .game-detail {
	    margin-bottom: 20px;
	}
	.list-logo {
	    padding: 34px 0;
	}
	.footer-top ul.ptu-parent li.ptl-parent {
	    width: 33.33%;
	}
	.footer-top ul.ptu-parent li.ptl-parent:last-child {
	    width: 66.66%;
	}
}
@media (max-width: 767px){  

	/* LONGBH EDIT */
	#box1 {
	    margin-top: 0;
	}
	.game-all ul li {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	}
	.game-all {
	    margin-right: 0;
	}
	.toggle-navbar{
        display: block;
        width: 300px;
        position: fixed;
        top: 0;
        left: -300px; 
        bottom: 0;
        background: #fff;
        z-index: 999;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        overflow-y: auto;
    }
    .toggle-navbar.open{
        left: 0;
        background: #fff;
    }
    .toggle-navbar .close{
        display: block;
        width: 18px;
        height: 18px;
        background: url('../images/icon_close.png') no-repeat;
        position: absolute;
        top: 15px;
        right: 15px;
        opacity: 1;
        z-index: 9999;
    } 
    .toggle-navbar .mbnav-ico{
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px; 
    } 
    .toggle-navbar .menu-list .mbnav-ico {
        margin-right: 20px;
    }
    .toggle-navbar .menu-list ul li .sub-content {
        width: 300px;
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
    }
    .toggle-navbar .menu-list ul li.active .sub-content {
        display: block;
    }
    .toggle-navbar .menu-list ul li .sub-content ul li.back{
        font-size: 16px;
	    padding: 10px 15px 10px 50px;
	    color: #333;
	    display: inline-block;
	    position: absolute;
	    top: -6px;
    }
    .icon_back {
    	background: url('../images/icon_back.png') no-repeat;
    	width: 25px;
    	height: 17px;
    	position: absolute;
    	left: 20px;
    	top: 12px;
    }
    .toggle-navbar .menu-list ul li .sub-content ul li.back .fa{
        margin-right: 5px;
    }
    .toggle-navbar .menu-list ul li .sub-content ul li a{
        width: 100%; 
    }
    .left-menu .menu-list ul li a{
        color: #666;
    }
    .left-menu {
        color: #fff;
    }
    .left-menu .menu-list {
        margin-top: 10px;
        padding-bottom: 30px;
        height: calc(100vh - 250px);
        overflow-y: auto;
        overflow-x: inherit;
    }
    .left-menu .menu-list.menu-list-notuser {
        height: 100%;
    }
    .left-menu .menu-list .menu-content.open {
        margin-left: -300px;
    }
    .left-menu .menu-list ul {
        padding-left: 0;
        padding-top: 40px;
        margin-bottom: 0;
        position: relative;
        width: 300px;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }
    .left-menu .menu-list ul li.portal a {
        width: calc(100% - 54px);
        float: left;
    }
    .left-menu .menu-list ul li {
        list-style: none;
    }  
    .left-menu .menu-list ul li.portal:after{
        content: '';
        display: block;
        clear: both;
    }
    .left-menu .menu-list ul li.portal .sub-btn {
        display: block;
        width: 44px;
        height: 44px;
        float: right;
        font-size: 16px;
        position: relative;
        cursor: pointer;
        color: #333;
    }
    .left-menu .menu-list ul li span {
        display: inline-block;
        vertical-align: middle;
    }
    .left-menu .menu-list ul li a {
        display: block;
        padding: 7px 25px 7px 20px;
        color: #333;
        text-decoration: none;
        font-size: 16px;
        position: relative;
    }
    .left-menu .menu-list ul li.portal .sub-btn .fa {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .left-menu .menu-list .menu-ico {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    .container {
    	padding: 0 15px;
    }
    .box-product ul {
    	margin: 0;
    }
    .hidder-xs {
    	display: none;
    }
    .border-r {
    	border-right: none;
    }
    .footer-top .ptu-parent .ptl-parent,
    .footer-top .ptu-parent .ptl-parent:last-child {
	    width: 100%;
	}
	.footer-bottom .fb-left,
	.footer-bottom .fb-right {
		width: 100%;
	}
	.footer-bottom .fb-right {
		text-align: left !important;
	} 
	.bg-img4 .paper-all .paper-detail {
	    width: 100%;
	}
	.box_near .event-all .event-detail .ed-img {
		height: auto;
	}
	.box_near .event-all .event-detail {
		margin-bottom: 15px;
	}
	.box_near {
		padding-bottom: 5px;
	}
	#slide-prize .item {
		width: 100%;
		float: none;
	}
	.box-prize {
	    margin-bottom: 0;
	}
	.box_ls_categories .box_left_ls {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.box_ls_categories .box_right_ls {
		margin-left: 0; 
	}
	.news-all .news-detail {
	    margin-bottom: auto;
	}
	.game-all .game-detail {
	    margin-bottom: 0;
	}
	#game_all .col-md-4 {
	    padding: 0;
	}
	.content_about_box .text_teky {
		padding: 15px;
	}
	.content_about_box .box-title-right {
		text-align: left !important;
	}
	.content_about_box .box_near .box-title.box-title-right::before {
		position: absolute;
	    content: '';
	    width: 50px;
	    height: 3px;
	    background: #6cc290;
	    bottom: -10px;
	    left: 0 !important;
	    right: auto;
	}
	.box-about2 {
		margin: 0 0 15px;
	}
	.box_ls_about .box_40 {
		width: 100%;
	}
	.box_ls_about .text_about {
		padding: 0 15px;
		width: 100%;
	}
	.box_ls_about .text_about .box-title {
		margin: 15px 0;
	}
	.box_ls_about .text_about.text_about_left {
	    margin: 15px 0;
	    padding: 0 15px;
	}
	.box_idea .info_box_idea .owl-item.active.center .text_idea { 
	    margin: 30px -170px 0; 
	}
	/* CONTACT */
	.info_form_contact {
	    width: 100%;
	    margin: 0 auto;
	}
	.box_content_contact .tabs_content_contact .tab-pane.active {
		display: block;  
		width: 100%;
	} 
	.box_content_contact .tabs_content_contact .tab-pane {
		display: none;	
	}
	.main_contact .box_content_contact .container,
	.main_contact .box_content_contact  {
	    padding: 0; 
	}
	.main_contact .box_content_contact .tabs_contact {
		background: #f6f6f6;
	}
	.main_contact .box_content_contact ul.tabs_contact li a {
		border-bottom: 5px solid #d3d3d3;
		color: #ddd;
	}
	.main_contact .box_content_contact ul.tabs_contact li.active a, 
	.main_contact .box_content_contact ul.tabs_contact li:hover a {
		border-bottom: 5px solid #f49a39;
		color: #333;
	}
	/* END CONTACT */
	.faq-all {
		margin: 0;
	}
	.faq-search { 
	    width: 100%;
	    margin: 15px auto;
	}
	.news-all .news-detail.note {
		margin-top: 20px;
	}
    /* END LONGBH EDIT */

	.header-top ul.ht-fisrt {
	    float: none !important;
	    text-align: center;
	}
	.ls_hotline,
	.ls_email {
		display: none;
	}
	.header-top ul.ht-fisrt li {
		float: none !important
	}
	.expand-menu {
		display: block;
	}
	.menu {
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    background: #fff;
	    z-index: 3;
	    display: none;
	    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	}
	.menu > ul > li {
	    float: none;
	}
	.menu > ul > li > a {
	    line-height: normal;
	    padding: 15px;
	}
	.header-menu {
		display: none;
	}
	.header-nav .hn-nav {
	    float: right;
	    width: auto;
	} 
	.hn-nav .navbar .navbar-collapse {
	    z-index: 9;
	    position: absolute;
	    top: 57px;
	    left: -225px;
	    width: 300px;
	    background: #fff;
	}
	.hn-nav .navbar .navbar-collapse ul.navbar-nav {
	    margin-top: 0;
	}/*
	.box-content.bg-img1-1{
		background: #fff;
	}*/
	/*.box-detail .box-bor{
		display: none;
	}*/
	.box_ipad {
		padding: 10px 0 30px;
	    margin-top: 0;
	}
	.box-detail .box-text {
		display: inline-block;
	    float: none !important;
	    text-align: left;
	}
	.box-detail .box-bor {
		cursor: pointer;
	    float: left;
	    display: inline-block;
	    margin-right: 10px;
	}
	.box-detail.box-detail-right .box-text { 
        display: inline-block;
	    text-align: right;
	    width: 100%;
	    margin: 0;
	    margin-right: 70px;
	    float: right !important;
	}
	.box-detail.box-detail-right .box-bor {
		cursor: pointer;
	    float: right !important;
	    display: inline-block;
	    margin: 0;
	    position: absolute;
	    right: 0;
	}
	
	
	.box-detail .box-bor .round {
		width: 45px;
		height: 45px;
	}
	.bg-img1-1 {
		background: none;
		padding: 0; 
		height: auto;
	}  
	.box-detail {
	    display: block;
	    float: none;
	    position: relative;
	    width: 100%;
	    margin-bottom: 15px;
	}
	#bd-1.box-detail {
	    top: 0;
	    left: 0;
	}
	#bd-2.box-detail {
	    right: 0;
	    top: 0;
	}
	#bd-3.box-detail {
	    top: 0;
	    left: 0;
	}
	#bd-4.box-detail {
	    right: 0;
	    top: 0;
	}
	#bd-5.box-detail {
	    top: 0;
	    left: 0;
	}
	#bd-6.box-detail {
	    right: 0;
	    top: 0;
	}
	/*.box-content.height-500{
		height: 300px;
	}*/
	/*.box-teach .bt-detail{
		width: 50%
	}*/
	.paper-all .paper-detail .paper-list ul li .pl-detail, .paper-all .paper-detail .paper-list ul li .pl-detail a {
	    width: 368.5px;
	    height: 368.5px;
	}
	.paper-all .paper-detail .pd-thump, .paper-all .paper-detail .pd-thump a {
	    width: 737px;
	    height: 737px;
	}
	.list-logo {
	    padding: 34px 0;
	    width: 100%;
	}
	.box.bg-e3edff {
	    background: #f4f7fc; 
	}
	.triangle-right {
		width: 100%;
	    position: relative; 
	    text-align: center;
	}
	.bg-e3edff .triangle-right:before,
	.bg-e3edff .triangle-right:after {
		display: none;
	}
	.header-slide .slide-detail .sd-text{
		padding-left: 20px;
	}
	.footer-top {
		margin-top: 0;
	}
	.modal-medium {
	    width: auto;
	    margin: 10px;
	}
	.form-horizontal .form-group {
		margin: 15px -15px;
	}
	.box_modal_content .form_right {
	    width: auto;
	}
	.box_top_career .bprod-btn .bc-btn a.note {
		margin-right: 0;
	}
	.content_categories_grid .box_ls_categories {
	    width: 100%;
	    float: none;
	    border-bottom: 1px solid #ddd;
	}
	.content_categories_grid .box_ls_categories:last-child {
		border-bottom: none;
	}
	.box_detail_right {
		margin-top: 15px;
		border: none;
	}
	.box_title_categories_detail {
		padding-top: 100px;
		text-align: left;
	}
	.box_idea .info_box_idea {
		width: 100%;	
	}
	.info_program .ls_program_box {
		width: 100%;
		min-height: auto;
		border-right: none;
	}
	.box_ls_tutor .box_50 {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.main_become_tutor .text_tutor.text_tutor_second {
		padding: 0 15px;
		text-align: left;
	}
	.box_ls_video ul {
	    margin: 0;
	}
	.box_ls_video .ls_box_video ul li {
		width: 100%;
		margin-right: 0;
	} 
}
@media (max-width: 676px){
	.header-slide .slide-detail .sd-text h3 {
	    font-size: 25px;
	    margin-bottom: 4px;
	}
	.header-slide .slide-detail .sd-text p {
	    font-size: 13px;
	    margin-bottom: 15px;
	}
	/*.box-content.height-500{
		height: auto;
	}
	.box-detail{
		display: inline-block;
		float: left;
		position: initial;
		width: 100%;
	}
	.box-detail .box-text{
		margin-top: 20px;
		text-align: center;
		float: left !important;
		width: 100%;
		display: inline-block;
		margin-left: 0;
	}*/
	.paper-all .paper-detail .paper-list ul li .pl-detail, .paper-all .paper-detail .paper-list ul li .pl-detail a {
	    width: 323px;
	    height: 323px;
	}
	.paper-all .paper-detail .pd-thump, .paper-all .paper-detail .pd-thump a {
	    width: 646px;
	    height: 646px;
	}  
}
@media (max-width: 640px){
	.paper-all .paper-detail .paper-list ul li .pl-detail, .paper-all .paper-detail .paper-list ul li .pl-detail a {
	    width: 305px;
	    height: 305px;
	}
	.paper-all .paper-detail .pd-thump, .paper-all .paper-detail .pd-thump a {
	    width: 610px;
	    height: 610px;
	}
}
@media (max-width: 533px){
	.event-all .event-detail .ed-text {
	    margin-left: 0;
	}
	.ls_box_event ul li,
	.box_people ul li {
		width: 100%;
		margin-bottom: 15px;
	}
	.content_event .ls_box_event {
		padding-bottom: 0;
	} 
	.box-teach .bt-detail{
		width: 50%
	}
	.event-all .event-detail .ed-img {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.box-product ul li{
		width: 100%;
		padding-right: 0;
	}
	.box-product ul{
		margin-left: 0
	}
	.news-all .list-news{
		width: 100%;
	}
	.news-all .news-detail.note{
		width: 100%
	} 
	.paper-all .paper-detail .paper-list ul li .pl-detail, .paper-all .paper-detail .paper-list ul li .pl-detail a {
	    width: 251.5px;
	    height: 251.5px;
	}
	.paper-all .paper-detail .pd-thump, .paper-all .paper-detail .pd-thump a {
	    width: 503px;
	    height: 503px;
	}
	.footer-top ul.ptu-parent li.ptl-parent {
	    width: 100%;
	}
	.text-left{
		text-align: left;
		margin-bottom: 10px;
	}
	.text-left a{
		color: #bfbfbf;
		float: left !important;
		display: inline-block; 
		text-align: left;
		margin: 0;
	}
	.footer-top {
	    padding: 20px 0;
	}
	.footer-center{
		padding-bottom: 20px;
	}
	.footer-top ul.ptu-parent li.ptl-parent:last-child{
		width: 100%;
	}
	.box_career_detail .box_top_career {
		margin-top: -40px;
	}
	.main_teacher .text-left {
		text-align: left;
	}
	.main_teacher .text-left .info_title_faq {
		padding-top: 15px;
	}
	.box_title_faq {
		text-align: left !important;
		padding: 0 15px;
		height: 120px;
	} 
	.main_faq .box_title_faq .info_title_faq {
		padding-top: 15px;
	}
	.box_title_categories_detail {
		padding-top: 65px;
		text-align: left;
		margin-bottom: 0;
	}
	.content_categories_detail {
	    padding: 0;
	}
	.box_detail_right {
    	margin-top: 0;
	    border: none;
	    padding-top: 15px;
	}
	.box_title { 
	    height: 120px;
	    line-height: 120px;
	}
}
@media (max-width: 480px){
	.box-course .bc-btn a {
	    margin-bottom: 10px; 
	}
	.paper-all .paper-detail .paper-list ul li .pl-detail, .paper-all .paper-detail .paper-list ul li .pl-detail a {
	    width: 225px;
	    height: 225px;
	}
	.paper-all .paper-detail .pd-thump, .paper-all .paper-detail .pd-thump a {
	    width: 450px;
	    height: 450px;
	}
	.box_modal_content .info_right_box .box_right_second {
		width: 100%;
	}
	.box_rule ul li {
		width: 100%;
	}
}
@media (max-width: 414px){ 
	.paper-all .paper-detail .paper-list ul li .pl-detail, 
	.paper-all .paper-detail .paper-list ul li .pl-detail a,
	.paper-all .paper-detail .pd-thump, 
	.paper-all .paper-detail .pd-thump a {
	    width: 191px;
	    height: 191px;
	    margin-bottom: 0;
	}
	.paper-all .paper-detail .pd-thump.bg-img8,
	.paper-all .paper-detail .pd-thump.bg-img8 a {
		width: 100%;
	}
	.bg-size-cover .box-content {
		padding: 0;
	}
	.bg-size-cover .box-course {
		padding: 0;
	}
	.box-course .bc-btn a.note {
		margin-right: 0;
	}
	.box-product ul .box_hidde_tablet {
		display: none;
	}
	.box_pagination .box_left .text_link,
	.box_pagination .box_right .text_link {
		display: none;
	}
	.main_teacher .box-teach .bt-detail {
	    width: 100%;
	}
	.box_top_categories .box_change_gird {
		display: none;
	}
	.main_contact .box_content_contact ul.tabs_contact li a {
		font-size: 20px;
	}
	.box_idea .info_box_idea .owl-item.active.center .text_idea { 
	    margin: 30px 0 0; 
	}
	.font-Thin {
		font-size: 18px;
	}
}
@media (max-width: 360px) { 
	.paper-all .paper-detail .paper-list ul li .pl-detail, 
	.paper-all .paper-detail .paper-list ul li .pl-detail a,
	.paper-all .paper-detail .pd-thump, 
	.paper-all .paper-detail .pd-thump a {
	    width: 100% !important; 
	} 
	.box_viewmore ul li a {
		font-size: 12px;
	}
}
@media (max-width: 320px){
	 
	.box-course .bc-btn a {
		width: 100%;
	}
}








