.dangKyTuVan {
	position: fixed; 
	z-index: 100;
	margin-top: 8%;
}

.vienDangKy {
	margin: 0px; 
 	padding: 0px; 
 	position: absolute;
 	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loiDangKy {
	margin: 0px; 
	padding: 0px; 
	position: relative;
}

.loiDangKy:hover {
	transition: all 1s;
	transform: scale(1.05);
}

/*.loiDangKy:hover, .loiDangKy:hover .vienDangKy{
	transition: all 1s;
	transform: scale(1.2);
}*/

.call_me{
	position: fixed; 
	z-index: 999;
	margin-top: 30%;
}

.call_me:hover{
	transition: all 1s;
	transform: scale(1.3);
}

.content-form {
  padding-top: 50px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.title {
  text-align: center !important;
}

.info-form {
  /*border: 1px solid blue;*/
  margin-top: 30px !important;
  height: 50px !important;
  line-height: 50px !important;
  text-align: center !important;
}

.numphone {
  
}

.city {
  
}

.content-form .info-form .numphone .wpcf7-form-control {
	height: 49px !important;
  line-height: 49px !important;
  float: left !important;
  width: 48% !important;
}

.content-form .info-form .city .wpcf7-form-control {
	/*float: right !important;*/
  height: 49px !important;
  line-height: 49px !important;
  width: 48% !important;
}